<div class="container">
    <div class="row">
        <h3>Edit Account</h3>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="usr">Username</label>
                            <input type="text" class="form-control" id="usr" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="occupation">Occupation</label>
                            <input type="text" class="form-control" id="occupation" placeholder="Occupation">
                        </div>
                        <div class="form-group">
                            <label for="salary">Salary</label>
                            <input type="text" class="form-control" id="salary" placeholder="Salary">
                        </div>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">Save</button>
        </div>
        <div class="col-sm-6">
            <h4>Change Password</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="firstname">Old Password</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Old Password">
                        </div>
                        <div class="form-group">
                            <label for="pwd">New Password</label>
                            <input type="password" class="form-control" id="pwd" placeholder="New Password">
                        </div>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">Save</button>
        </div>
    </div>
</div>