<div class = "container">
  <h1>Indexity</h1>
  <h3 class = "tagline"> "Go West young man!" </h3>

  <input type = "text" class = "comingFrom" placeholder="Origin City">
  <input type = "text" class = "goingTo" placeholder="Destination City">
  <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>

  <h2> Pick your pieces. </h2>
  <form>
    <label>
    <input type="checkbox">
    <span class="label-text">Public Transportation </span>
  </label>

  <label>
    <input type="checkbox">
    <span class="label-text">Gas Prices </span>
  </label>

  <label>
    <input type="checkbox">
    <span class="label-text">Groceries </span>
  </label>
<br>

  <label>
  <input type="checkbox">
  <span class="label-text">House-sharer </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Hostels </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Apartment Rent </span>
</label>

<br>

  <label>
  <input type="checkbox">
  <span class="label-text">Electricity Utilities </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Water Utilities </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Income Tax </span>
</label>

</form>

<a routerLink="/piechart"><button type="button" class="btn btn-success btn-lg"> Let's look! </button> </a>

</div>
