<div class = "container">
  <h1>Indexity</h1>
  <h3 class = "tagline"> "Go West young man!" </h3>

  <input type = "text" class = "comingFrom" placeholder="Origin City">
  <input type = "text" class = "goingTo" placeholder="Destination City">
  <button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</button>

<a routerLink="/create-account"> <button type="button" class="btn btn-default pull-right">
<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
</button> </a>

  <h2> Pick your pieces. </h2>
  <form>
    <label>
    <input type="checkbox">
    <span class="label-text">Public Transportation </span>
  </label>

  <label>
    <input type="checkbox">
    <span class="label-text">Housing </span>
  </label>

  <label>
    <input type="checkbox">
    <span class="label-text">Utilities </span>
  </label>
<br>

  <label>
  <input type="checkbox">
  <span class="label-text">Groceries </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Healthcare </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Income Tax </span>
</label>

<br>

  <label>
  <input type="checkbox">
  <span class="label-text">Sales Tax </span>
</label>
</form>

<a routerLink="/piechart"><button type="button" class="btn btn-success btn-lg"> Let's look! </button> </a>

</div>
