<div class = "container">
  <h1>Indexity</h1>
  <h3 class = "tagline"> "Go West young man!" </h3>

  <form #f="ngForm" novalidate>
    <div>
    <label>Origin City</label>
    <select name="city1" [(ngModel)]="user.city1">
        <option *ngFor="let city of cities" [value]="city.value">
        {{city.display}}
        </option>
    </select>

<form #f="ngForm" novalidate>
  <div>
  <label>Destination City</label>
  <select name="city2" [(ngModel)]="user.city2">
      <option *ngFor="let city of cities" [value]="city.value">
      {{city.display}}
      </option>
  </select>

  <h2> Pick your pieces. </h2>
  <form>
    <label>
    <input type="checkbox">
    <span class="label-text">Public Transportation </span>
  </label>

  <label>
    <input type="checkbox">
    <span class="label-text">Housing </span>
  </label>

  <label>
    <input type="checkbox">
    <span class="label-text">Utilities </span>
  </label>
<br>

  <label>
  <input type="checkbox">
  <span class="label-text">Groceries </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Healthcare </span>
</label>

<label>
  <input type="checkbox">
  <span class="label-text">Income Tax </span>
</label>

<br>

  <label>
  <input type="checkbox">
  <span class="label-text">Sales Tax </span>
</label>
</form>

<a routerLink="/compare"><button type="submit"(click)="save(f.value, f.valid)"> Let's look! </button></a>
