@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

h1 {
    font-family: Cuprum;
    color: #64519E;
}

.tagline {
    text-align: center;
    font-family: Cuprum;
    color: #64519E;
}
