<div class = "container">
  <h1>Indexity</h1>
  <h3 class = "tagline"> "Keep your hands and feet in the ride at all times." </h3>

  <input type = "text" class = "comingFrom" placeholder="Origin City">
  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Destination
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Austin</a></li>
      <li><a href="#">Baltimore</a></li>
      <li><a href="#">Boston</a></li>
      <li><a href="#">Columbus</a></li>
      <li><a href="#">Dallas</a></li>
      <li><a href="#">Denver</a></li>
      <li><a href="#">Detroit</a></li>
    <!--  <li><a href="#">Honolulu/a></li>      breaks at Honolulu
      <li><a href="#">Houston</a></li>
      <li><a href="#">Las Vegas</a></li>
      <li><a href="#">Los Angeles</a></li>
      <li><a href="#">Memphis</a></li>
      <li><a href="#">New York</a></li>
      <li><a href="#">Orlando</a></li>
      <li><a href="#">Philadephia</a></li>
      <li><a href="#">Pittsburgh</a></li>
      <li><a href="#">San Antonio</a></li>
      <li><a href="#">San Diego</a></li>
      <li><a href="#">San Fransisco</a></li>
      <li><a href="#">Seattle</a></li>
      <li><a href="#">St. Louis</a></li>
      <li><a href="#">D.C.</a></li> -->
    </ul>
  </div>

  <button type="button" class="btn btn-default">
  <a routerLink="/search"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
</button>
</div>
