<div class="container">
    <h1>Indexity</h1>
    <div class="row justify-content-end">
        <div class="col-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="usr">Username</label>
                            <input type="text" class="form-control" id="usr" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary btn-block">Log In</button>
                    <hr/>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Don't have an account yet? <a>Sign up.</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        Indexity © 2017
    </footer>
</div>