.container {
    font-family: Cuprum;
}

h1 {
    font-family: Cuprum;
    color: #64519E;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.dropdown {
    float: right;
    margin: 20px;
}