<div class = "container">
  <h1>Indexity</h1>
  <h3 class = "tagline"> "Keep your hands and feet in the ride at all times." </h3>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Origin City <b class="caret"></b></a>
      <ul class="dropdown-menu">
          <li>
              <div class="row" style="width: 200px;">
                  <ul class="list-unstyled col-md-8">
                      <li><a href="#">Austin</a></li>
                      <li><a href="#">Baltimore</a></li>
                      <li><a href="#">Boston</a></li>

                      <li><a href="#">Columbus</a></li>
                      <li><a href="#">Dallas</a></li>
                      <li><a href="#">Denver</a></li>

                      <li><a href="#">Detroit</a></li>
                      <li><a href="#">Honolulu</a></li>
                      <li><a href="#">Houston</a></li>

                      <li><a href="#">Las Vegas</a></li>
                      <li><a href="#">Los Angeles</a></li>
                      <li><a href="#">Memphis</a></li>

                      <li><a href="#">New York</a></li>
                      <li><a href="#">Orlando</a></li>
                      <li><a href="#">Philadelphia</a></li>

                      <li><a href="#">Pittsburgh</a></li>
                      <li><a href="#">San Antonio</a></li>
                      <li><a href="#">San Diego</a></li>

                      <li><a href="#">San Fransisco</a></li>
                      <li><a href="#">Seattle</a></li>
                      <li><a href="#">St. Louis</a></li>
                      <li><a href="#">D.C.</a></li>
                  </ul>
              </div>
          </li>
      </ul>
    </button>
  </div>


  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Destination City <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li>
                  <div class="row" style="width: 200px;">
                      <ul class="list-unstyled col-md-8">
                          <li><a href="#">Austin</a></li>
                          <li><a href="#">Baltimore</a></li>
                          <li><a href="#">Boston</a></li>

                          <li><a href="#">Columbus</a></li>
                          <li><a href="#">Dallas</a></li>
                          <li><a href="#">Denver</a></li>

                          <li><a href="#">Detroit</a></li>
                          <li><a href="#">Honolulu</a></li>
                          <li><a href="#">Houston</a></li>

                          <li><a href="#">Las Vegas</a></li>
                          <li><a href="#">Los Angeles</a></li>
                          <li><a href="#">Memphis</a></li>

                          <li><a href="#">New York</a></li>
                          <li><a href="#">Orlando</a></li>
                          <li><a href="#">Philadelphia</a></li>

                          <li><a href="#">Pittsburgh</a></li>
                          <li><a href="#">San Antonio</a></li>
                          <li><a href="#">San Diego</a></li>

                          <li><a href="#">San Fransisco</a></li>
                          <li><a href="#">Seattle</a></li>
                          <li><a href="#">St. Louis</a></li>
                          <li><a href="#">D.C.</a></li>
                      </ul>
                  </div>
              </li>
          </ul>
        </button>
      </div>


  <button type="button" class="btn btn-default">
  <a routerLink="/search"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
</button>
</div>
