<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 id="signup">Sign up via:</h3>
            <div class="icons">
                <a><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                <a><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
                <a><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-sm-6 border-left">
            <h3>Create an Account</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="usr">Username</label>
                            <input type="text" class="form-control" id="usr" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                    </form>
                    <a routerLink = "/search"> <button type="button" class="btn btn-primary btn-block">Sign Up</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>
