<div class="resources">
    <div class="row">
        <h3>See what this city has to offer...</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Highest Sales Tax
                </div>
                <div class="panel-body">
                    <ol class="list-group">
                        <li>Austin</li>
                        <li>Los Angeles</li>
                        <li>New York City</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>