<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Got plans for an internship this summer? Worried about finances?</h2>
            <p>Welcome to <b>Indexity</b>! We'll help you figure out your best options before you make the move.</p>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="usr">Username</label>
                            <input name="usr" type="text" class="form-control" id="usr"  [(ngModel)]="usr.username" #name="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input name="pwd" type="password" class="form-control" id="pwd" [(ngModel)]="usr.password">
                        </div>
                        <div class="help-block" *ngIf="errorMessage">Error logging in</div>
                    </form>
                    <button type="submit" class="btn btn-primary btn-block" (click)="login(usr)">Log In</button>
                    <hr/>
                    Don't have an account yet? <a routerLink="/create-account">Sign up.</a>
                </div>
            </div>
        </div>
    </div>
</div>
